body {
  font-family: 'Raleway';
  margin: 0;
}

.page-wraper {
  display: grid;
  place-items: center;
  padding: 0;
  width: 100%;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav {
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  place-items: center;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

nav ul li {padding-bottom: 5px;}

#welcome-section, #projects {
  background-color: #2a2d2f;
  color: whitesmoke;
}

#welcome-section {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

#projects {
  place-content: center;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
}

.project-tile {
  height: 100%;
  width: 100%;
  border: solid black 5px ;
  display: grid;
  place-items: center;
}
